
:root{
    --background: #1b1b1b;
    --main-text: #999999;
    --primary-color: #009999;
}

*{
    margin: 0em;
    padding:0em;
    box-sizing:border-box;
}

body{
    font-family: arial;
    background-color:var(--background);
    color:var(--main-text);
    width:100%;
}

.container{
    width:100%;
    margin:auto;    
    /* border: 2px solid white; */
}
.wrap-content, header{
    margin: 0 1em;
}

.btn{
    border:none;
    padding:0.5em 1em;
    background:var(--primary-color);
    color:var(--background);
}
ul li {
    list-style:none;
    margin-bottom: 1.2em;
}

button{
    width:100%;
}


@media only screen and (min-width: 600px) {

    .container{
        width:30%;
    }
 
  }